{% extends 'index.html' %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block top %} 
<ul class="navbar-nav mx-auto">
    <li class="nav-item"><a class="nav-link active" href="{% url 'main:home' %}">Home</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'main:contribute' %}">Contribute</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'main:access' %}">Access</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'main:verify' %}">Verify</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'main:about' %}">About</a></li>
</ul><a class="btn btn-primary shadow" role="button" href="{% url 'main:verify' %}" style="background: #03123E;border-radius: 20px;box-shadow: 0px 0px #4A524D;">E-Receipt</a>
{% endblock top %}

{% block header %}
<header class="pt-5">
    <div class="container pt-4 pt-xl-5">
        <div class="row pt-5">
            <div class="col-md-8 text-center text-md-start mx-auto">
                <div class="text-center">
                    <h1 class="display-4 fw-bold pulse animated infinite mb-5" style="color: #03123E;">Collaborative Academic Resource&nbsp;<span class="underlined" style="color: #03123E;">Exchange</span>.</h1>
                    <p class="fs-5 text-muted tada animated mb-5">Sponsored by Redeemer's University Accounting Student Association (RUNASA)&nbsp;</p>
                </div>
            </div>
            <div class="col-12 col-lg-10 mx-auto">
                <div class="text-center position-relative"><img class="img-fluid" src="{% static 'img/illustrations/data-management.svg' %}" style="width: 800px;"></div>
            </div>
        </div>
    </div>
</header>
{% endblock header %}

{% block section1 %}
    <section>
        <div class="container py-4 py-xl-5">
            <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-lg-3">
                <div class="col">
                    <div class="card border-light border-1 d-flex justify-content-center p-4">
                        <div class="card-body">
                            <div class="bs-icon-lg bs-icon-rounded bs-icon-secondary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block mb-4 bs-icon" style="background: #8D5240;"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-school" style="color: #03123E;">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M22 9l-10 -4l-10 4l10 4l10 -4v6"></path>
                                    <path d="M6 10.6v5.4a6 3 0 0 0 12 0v-5.4"></path>
                                </svg></div>
                            <div>
                                <h4 class="fw-bold">Contribute&nbsp;</h4>
                                <p class="text-muted">You can contribute relevant course materials to a centralized repository...</p><button class="btn btn-sm px-0" type="button">Learn More&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-arrow-right">
                                        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"></path>
                                    </svg><br></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card border-light border-1 d-flex justify-content-center p-4">
                        <div class="card-body">
                            <div class="bs-icon-lg bs-icon-rounded bs-icon-secondary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block mb-4 bs-icon" style="background: #8D5240;"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-school" style="color: #03123E;">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M22 9l-10 -4l-10 4l10 4l10 -4v6"></path>
                                    <path d="M6 10.6v5.4a6 3 0 0 0 12 0v-5.4"></path>
                                </svg></div>
                            <div>
                                <h4 class="fw-bold">Access</h4>
                                <p class="text-muted">Gain access to our centralized repository of course materials and past questions...</p><button class="btn btn-sm px-0" type="button">Learn More&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-arrow-right">
                                        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"></path>
                                    </svg><br></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card border-light border-1 d-flex justify-content-center p-4">
                        <div class="card-body">
                            <div class="bs-icon-lg bs-icon-rounded bs-icon-secondary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block mb-4 bs-icon" style="background: #8D5240;"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-school" style="color: #03123E;">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M22 9l-10 -4l-10 4l10 4l10 -4v6"></path>
                                    <path d="M6 10.6v5.4a6 3 0 0 0 12 0v-5.4"></path>
                                </svg></div>
                            <div>
                                <h4 class="fw-bold">Verify</h4>
                                <p class="text-muted">Seamlessly verify your departmental fee payment and generate your receipt...</p><button class="btn btn-sm px-0" type="button">Learn More&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-arrow-right">
                                        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"></path>
                                    </svg><br></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endblock section1 %}

    {% block section2 %}
    <section>
        <div class="container py-4 py-xl-5" style="box-shadow: 5px 5px 10px 3px #4A524D;">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="display-6 fw-bold pb-md-4" style="color: #03123E;">Contribute essential course&nbsp;<span class="underlined" style="color: #03123E;">materials</span></h3>
                </div>
                <div class="col-md-6 col-xxl-6 pt-4">
                    <p class="text-muted mb-4"><span style="color: rgb(32, 33, 36);">By contributing your materials, you're not only helping fellow students but also fostering a collaborative learning environment within the department.</span><br><br></p>
                </div>
            </div>
        </div>
    </section>
    {% endblock section2 %}

    {% block section3 %} 
    <section>
        <div class="container py-4 py-xl-5">
            <div class="row gy-4 gy-md-0">
                <div class="col-md-6 text-center text-md-start d-flex d-sm-flex d-md-flex justify-content-center align-items-center justify-content-md-start align-items-md-center justify-content-xl-center">
                    <div><img class="rounded img-fluid fit-cover" style="min-height: 300px;" src="{% static 'img/illustrations/presentation.svg' %}" width="800"></div>
                </div>
                <div class="col">
                    <div style="max-width: 450px;">
                        <h3 class="fw-bold pb-md-4" style="color: #03123E;"><span class="underlined">Access</span>&nbsp;a centralized repository of essential course materials&nbsp;&nbsp;</h3>
                        <p class="text-muted py-4 py-md-0"><span style="color: rgb(32, 33, 36);">This initiative aims to create a centralized repository of essential course materials and past questions, ensuring that all students have easy access to the resources they need to excel academically.</span><br><br></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endblock section3 %}